[*]
vsspell_section_id = dd29177d750e4698a318e77d05e307e1
vsspell_ignored_words_dd29177d750e4698a318e77d05e307e1 = abremir|MSP|validator|IDE|Cancelled|Enums|Tokenize|Tokenizer|Decomplemented|Validators|Psha|Lsb|Msb|lsb|msb

